.img:hover .mudrock{
opacity: 0;
transform: scale(1.1);
transition:0.5s;
}
.img:hover .skadi{
    transform: scale(1.1);
    opacity: 1;
    transition: 0.5s;
}
.skadi{

    transition:0.5s;
}
.img{
    background-color: #fbfbfb;
}

h1{
color:red;
font-size:120px;
}
