@tailwind base;
@tailwind components;
@tailwind utilities;

*{
padding: 0;
margin: 0;
box-sizing: border-box;
} 
body
{
  height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    flex-direction: column;
    display: flex;
 
}
.nav_bar{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  align-self: center;
}
.header
{
    background-color: #ff0000;
    color: white;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.Trang_chu{
margin: auto;
position: relative;

}
.Ten_page
{
    font-size: 50px;
    font-weight: bold;
   align-self: center;
}



.logo_container
{
  height: 70px;
  width: 70px;
margin-left: 10px;
align-items: center;

  
}
.logo_container img
{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}









.toast{
  margin-top: 50px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  border-left: 4px solid #0b07fd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(203, 225, 245);
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px; /* Set a maximum width for the toasts */
  transition: all linear 0.3s;
  
}
.toast+ .toast
{
  margin-top: 10px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close,
.toast__boddy {
padding : 0 16px;
text-decoration: none;
-webkit-user-select: none;
}

.toast__close {
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.toast__close:hover {
  color: red;
}

.toast--title {
  font-size: 24px;
  flex-grow: 1;
}
.toast--msg {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
}
.toast__boddy {
  font-size: 16px;
  color: #333;
  flex-grow: 1;
}

#toast{
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}


@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


.toast--success .toast__icon {
  color: #14ed08;
}

.toast--error .toast__icon {
  color: #ff0000;
}


.btn{
text-decoration: none;
border: none;
padding: 12px 48px;
color: white;
border-radius: 50px;
cursor: pointer;
outline: none;
min-width: 50px;
transition: opacity 0.3s ease;
display: inline-block
}
.btn:hover{
  opacity: 0.5;
}
.btn + .btn
{
  margin-left: 10px;
}


.btn--ok{
background-color: #14ed08;
}

.btn--notok{
background-color: blue;
}

.btn--clear{
  background-color: darkmagenta;
}

.btn--disable{
  opacity: 0.5 !important;
  cursor: not-allowed;
}

.btn--size--small{
  padding: 8px 24px;
}
.btn--size--medium{
  padding: 12px 48px;
}
.btn--size--large{
  padding: 16px 64px;
}